
<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    {% include "global/partials/head.html" %}
</head>
<body>

    {% include "global/partials/header.html" %}

    {% if messages %}
        {% for message in messages %}
            <div class="message" {{message.tags}}>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <main class="content">
        {% block conteudo %}{% endblock conteudo %}  
        
        {% include "global/partials/paginacao.html" %} 
    </main>

     
</body>
</html>