<header class="header">
    <h1 class="header-heading">
        <a class="header-link" href=" {% url 'contato:index' %}">Agenda</a>
    </h1>

    <nav class-="menu">
        <ul class="menu-list">
            {% if user.is_authenticated %}

                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contato:criacao' %}">
                        Cadastrar
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contato:atualizar_usuario' %}">
                        Atualizar
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contato:logout' %}">
                        Sair
                    </a>
                </li>
            
            {% else %}
           
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contato:login' %}">
                        Login
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contato:registro' %}">
                        Registro
                    </a>
                </li>     
            {% endif %}
 
        </ul>
    </nav>

    <div class="search">
        <form action="{% url 'contato:buscar' %}" method="get">
            <input 
            class="search-input" 
            type="search" 
            name="q" 
            id="procurar" 
            placeholder="Procurar"
            value="{{ request.GET.q.strip}}">
        </form>

    </div>
</header>