{% extends 'global/base.html' %}


{% block conteudo %}

    <div class="form-wrapper">
        <h2>Contato</h2>
        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            
            <div class="form-content">
                <div class="form-group">
                <label for="id_primeiro_nome">LABEL</label>
                <input type="text" name="primeiro_nome" maxlength="255" id="id_primeiro_nome">
                </div>
            </div>

            <div class="form-content">
                <div class="form-group">
                <button class="btn" type="submit">Enviar</button>
                </div>
            </div>

        </form>
    </div>
    
{% endblock  %}