{% extends 'global/base.html' %}

{% block conteudo %}

    <div class="form-wrapper">
        <h2>Registro</h2>
        <form action="{{ form_action }}" method="POST">

            {% csrf_token %}

            <div class="form-content"></div>

                {% for campo in form  %}
                
                    <div class="form-group">
                    <label for="{{ campo.id_for_label }}"> {{campo.label}} </label>
                    {{campo}}   
                    {{ campo.errors }}
                    </div>

                {% endfor %}
            </div>   
           
            <div class="form-content">
                <div class="form-group">
                <button class="btn" type="submit">Enviar</button>
                </div>
            </div>

        </form>
    </div>
    
{% endblock  %}